<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" >
    
    <!-- PARENT BEAN -->
    <bean id="parentTriangle" class="org.javabrains.spring.src.Triangle" abstract="true">
    	<property name="area" value="20"></property>
    	<property name="type" value="Equilateral"></property>
    	<property name="pointA" ref="zeroPoint"></property>
    </bean>
    
    <bean id="triangle" class="org.javabrains.spring.src.Triangle" init-method="myInit" destroy-method="cleanUp">
    	<!-- <property name="type" value="Equilateral"></property> -->
    	<constructor-arg type="int" index="0" value="20"></constructor-arg>
    	<constructor-arg type="java.lang.String" index="1" value="equilateral"></constructor-arg>
    	<constructor-arg index="2" ref="zeroPoint" ></constructor-arg>
    	<constructor-arg index="3" ref="Point1" ></constructor-arg>
    	<constructor-arg index="4" ref="Point2" ></constructor-arg>
    </bean>
    
    <bean id="triangleval" class="org.javabrains.spring.src.Triangle" scope="prototype" init-method="myInit" destroy-method="cleanUp">
    	<property name="area" value="20"></property>
    	<property name="type" value="Equilateral"></property>
    	<property name="pointA" ref="zeroPoint"></property>
    	<property name="pointB" ref="Point1"></property>
    	<property name="pointC">
    		<!-- INNER BEAN -->
    		<bean class="org.javabrains.spring.src.Point">
		    	<property name="x" value="20"></property>
		    	<property name="y" value="20"></property>
    		</bean>
    	</property>
    </bean>
    
    <!-- CHILD BEAN -->
    <bean id="childTriangle" class="org.javabrains.spring.src.Triangle" parent="parentTriangle" >
    	<property name="pointB" ref="Point1"></property>
    	<property name="pointC">
    		<!-- INNER BEAN -->
    		<bean class="org.javabrains.spring.src.Point">
		    	<property name="x" value="30"></property>
		    	<property name="y" value="30"></property>
    		</bean>
    	</property>
    </bean>
    
  	<!-- SPRING DOESN'T MANAEGS THE WHOLE LIFECYCLE OF A "PROTOTYPE BEAN"  -->  
  	<!-- SPRING JUST CREATES A "PROTOTYPE BEAN" AND HAND IT OVER TO THE CLIENT -->  
  	<!-- SO THAT'S THE REASON WHY 'destroy method' IS NOT CALLED FOR THIS BEAN-->  
    <bean id="zeroPoint" class="org.javabrains.spring.src.Point" scope="prototype">
    	<property name="x" value="0"></property>
    	<property name="y" value="0"></property>
    </bean>
    
    <bean id="Point1" class="org.javabrains.spring.src.Point">
    	<property name="x" value="20"></property>
    	<property name="y" value="0"></property>
    </bean>
    
    <bean id="Point2" class="org.javabrains.spring.src.Point">
    	<property name="x" value="0"></property>
    	<property name="y" value="20"></property>
    </bean>
    
    <!-- <bean class="org.javabrains.spring.src.DisplayName"></bean> -->
</beans>